.link{
    display: inline-block;


}
.root{
    display: inline-block;
}
.accordion-button{
    padding: 0px;
}
.conTitle{
    background: linear-gradient(-225deg, #2CD8D5 0%, #c1fffc 56%, #bafffc 100%);
    width: 140px;
    color: white;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 2px 3px #808080;
    font-size: 1.3em;
}
.infobtn{
    background: linear-gradient(-20deg, #a7e6e2 20%, #82d0e4 80%);
    box-shadow: 4px 4px #808080;
    border-radius: 5px;
    margin: 5px 5px 15px 5px;
    text-align: center;
    color: white;
    cursor: pointer;
}
.infobtn:hover{
    transform: translate3d(4px, 4px);
    color:white;
    box-shadow: none;
    background: linear-gradient(-20deg, #58d5cf 0%, #24afd2 100%);
}

.tab-area {
    display: flex;
    justify-content: space-around;
    background-color: white;
    cursor: default;
    margin-top:10px ;
    pointer-events: none;
}
.tab-area .tab {
      width: 300px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      color: white;
      border: 1px solid #fafcff;
      text-shadow: 1px 2px 3px #808080;
      background-color: #c3eaecfb;

}
.tab-area .tab.active {
      background-color: rgb(135, 177, 206);
      color: #222e3e;
      border: none;
}
.content-area {
    font-size: 30px;
    text-align: center;
  }
.content-area .content {
      display: none;
}
.content-area .content.show {
      margin-top: 50px;
      display: block;
}
#panel2 div .area table{
     text-align: start;
}
.btn{
    font-size: 1em;
    font-weight: bold;
    padding: 5px 15px;
    color: #fff;
    border-style: none;
     box-shadow: 2px 2px 3px 1px #666;
    -moz-box-shadow: 2px 2px 3px 1px #666;
    -webkit-box-shadow: 2px 2px 3px 1px #666;
     text-shadow: 1px 1px 2px #000;
    background: -moz-linear-gradient(bottom, #36d, #248 50%, #36d);
    background: -webkit-gradient(linear, left bottom, left top, from(#36d), color-stop(0.5, #248), to(#36d));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 10px;
}
.btn:hover {
    box-shadow: none;
    transform: translate3d(0, 3px, 0);
    color: white;
}
.tdtitle{
    background-color: rgba(155, 209, 253, 0.842);
    width: 80px;
    text-shadow: 1px 1px 2px #000;
color: white;
}
.mb10{
    margin-bottom: 10px;
}
.remake{
    background: -moz-linear-gradient(bottom, rgb(51, 221, 207), rgb(34, 124, 136) 50%, rgb(51, 196, 221));
    background: -webkit-gradient(linear, left bottom, left top, from(rgb(51, 210, 221)), color-stop(0.5, rgb(34, 133, 136)), to(rgb(51, 221, 207)));
}
.mt10{
    margin-top: 10px;
}
